body {
    background: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav1 {
    background: linear-gradient(90deg, #6715ec, #8b15ec);
    color: white;
    padding: 40px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.textdiv1 {
    float: left;
    background: transparent; 
    color: white;
    padding: 10px;
    margin: 70px;
}
.textdiv2 {
    float: left;
    text-align: center;
    background: white;
    color: #000000;
    padding: 30px;
    margin: 10px;
    height: 200px;
    width: 300px;
    border-radius: 15px;
}
.textdiv3 {
    float: left;
    text-align: center;
    background: white;
    color: #000000;
    padding: 30px;
    margin: 10px;
    height: 200px;
    max-height: 500px;
    width: 300px;
    border-radius: 15px;
}

.nav2 {
    display: flex;
    background: transparent;
    color: white;
    padding: 10px;
}
.nav2-botones {
    text-decoration: none;
    text-align: center;
    background: transparent;
    color: white;
    padding: 15px;
    margin: 10px;
    transition: 0.2s;
    border-bottom: 3px solid transparent;
}
.nav2-botones:hover {
    border-bottom: 3px solid white;
}


.nav3 {
    text-align: center;
    background: transparent;
    color: white;
    padding: 50px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
.carta1 {
    float: left;
    background: linear-gradient(90deg, #6715ec, #8b15ec);
    color: white;
    padding: 40px;
    margin: 10px;
    height: 300px;
    max-height: 500px;
    width: 300px;
    border-radius: 15px;
}
.carta2 {
    float: left;
    background: linear-gradient(90deg, #1535ec, #15a8ec);
    color: white;
    padding: 40px;
    margin: 10px;
    height: 300px;
    max-height: 500px;
    width: 300px;
    border-radius: 15px;
}
.carta3 {
    float: left;
    background: linear-gradient(90deg, #e3ee0a, #ffa600);
    color: white;
    padding: 40px;
    margin: 10px;
    height: 300px;
    max-height: 500px;
    width: 300px;
    border-radius: 15px;
}
.carta1-botones {
    text-decoration: none;
    text-align: center;
    background: transparent;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
}
.carta1-botones:hover {
    border-bottom: 3px solid white;
}

.footer {
    text-align: center;
    background: #101010;
    color: white;
    padding: 50px;
    margin: auto;
    min-height: 10px;
    height: 30px;
    max-height: 1000px;
}
.mrgiocode-github {
    text-decoration: none;
    text-align: center;
    display: inline;
    background: transparent;
    color: white;
    padding: 10px;
    margin: auto;
}